* {
  font-family: 'Lato', sans-serif;
  word-wrap: break-word;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #05998c;
}

main {
    margin-top: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #05998c;
    color: white;
    text-align: center;
    font-size: 10px;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

h3 {
}

h4 {
    font-size: 15px;
    margin: 5px;
}

h5 {
    font-size: 12px;
    margin: 5px;
}


p {
    font-size: 12px;
    margin:3px;
}

/*a {
}*/

body {
   margin-bottom: 100px;
   background-color: #E4F8F0;
}

section {
    padding: 10px;
}

/* 
Right Side: Bird Display 
*/

#bird-display {
    justify-content: left;
    background-color: #E4F8F0;
    height: 100%;
    float: right;
    width: 67%;
}

.birdImage {
    display: block;
    width: 200px;
    margin: auto;
    border: solid;
}

.info-card {
background: blanchedalmond;
margin: 10px;
width: 210px;
height: 400px;
float: left;
border: solid;
padding: 10px;
}

/* 
Left Side Elements
*/
#left-side-section {
    background-color: #05998c;
    float: left;
    width: 23%;
    max-width: 250px;;
}

/*
Search button
*/
#search-form {
    display: block;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#conservation-status-select {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filter-menus {
    background-color: white;
    padding:5px;
}


/*
Search Button & Refresh Button
*/
#search-button, #random-button {
    display: block;
    margin: auto;
    width: 100%;
    background-color: #E4F8F0;
    color: black;
}

#refresh-button {
    display: block;
    margin: auto;
    width: 50%;
    min-width: 75px;
    background-color: #05998c;
    color: white;
}

.generate-random {
    background-color: white;
    padding:5px;
}


/* 
Key for Conservation Status [Circle]
*/
.conservation-status-key {
    background-color: white;
    padding:5px;
}
.status-circle-not-threatened {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #02a028
}
.status-circle-naturally-uncommon {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #649a31
}
.status-circle-relicit {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #99cb68
}
.status-circle-recovering {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fecc33
}
.status-circle-declining {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fe9a01
}
.status-circle-nationally-increasing {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #c26967
}
.status-circle-nationally-vulnerable {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #9b0000
}
.status-circle-nationally-endangered {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #660032
}
.status-circle-nationally-critical {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #320033
}
.status-circle-extinct {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: black
}
.status-circle-data-deficient {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: black
}


/* Hover Text */
.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 1;
    width: 140px;
    background-color: #05998c;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
  
    position: absolute;
    z-index: 1;
    left: 20px;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }




/* 
Key for Conservation Status [Rectangle]
*/
.rectangle {
    display: block;
    height: 10px;
    width: 100 px;
    background-color: purple;
}

.rec-not-threatened {
    display: block;
    height: 10px;
    width: 100 px;
    background-color: #02a028
}
.rec-naturally-uncommon {
    display: block;
    height: 10px;
    width: 100 px;
    background-color: #649a31
}
.rec-relicit {
    display: block;
    height: 10px;
    width: 100 px;
    background-color: #99cb68
}
.rec-recovering {
    display: block;
    height: 10px;
    width: 100 px;
    background-color: #fecc33
}
.rec-declining {
    display: block;
    height: 10px;
    width: 100 px;
    background-color: #fe9a01
}
.rec-nationally-increasing {
    display: block;
    height: 10px;
    width: 100 px;
    background-color: #c26967
}
.rec-nationally-vulnerable {
    display: block;
    height: 10px;
    width: 100 px;
    background-color: #9b0000
}
.rec-nationally-endangered {
    display: block;
    height: 10px;
    width: 100 px;
    background-color: #660032
}
.rec-nationally-critical {
    display: block;
    height: 10px;
    width: 100 px;
    background-color: #320033
}
.rec-extinct {
    display: block;
    height: 10px;
    width: 100 px;
    background-color: black
}
.rec-data-deficient {
    display: block;
    height: 10px;
    width: 100 px;
    background-color: black
}


.photoCredit {
    font-size: 10px;
    font-style: italic;
    float: right;
}

.primary_name {
    text-align: center;
}


/* the stuff below can be used for reference */
/*
.imageofXYZ {
margin: 20px;
border: 2px solid purple;
width: 300px;
height: 300px;
object-fit: cover;
object-position: 0% 0%;
border-radius: 100%;
display:block;
margin-left: auto;
margin-right: auto;
}

figure {
    display: inline-block;
    margin: auto;
    position: relative
}

figcaption {
position: absolute;
bottom: 30px;
left: 125px;
border: black;
background-color: lavender;
text-shadow: 2px 2px magenta;
font-style: italic;
padding: 10px;
box-shadow: 0 8px 16px 4px purple;
border-radius: 40%;
}
*/
/* 
Conservation status dropdown 

.conservation-status-dropdown {
    display: block;
    margin: auto;
    width: 100%;
}

#cons-dropdown-content {
    display: none;
    background-color: white;
    min-width: 100px;
    font-size: 12px;
    box-shadow: 0px 8px 16px 0px grey;
    padding: 12px 16px;
    z-index: 1;
}

.conservation-status-dropdown:hover #cons-dropdown-content {
    display: block;
}
*/
/* 
Sort-By dropdown 

.sort-by-dropdown {
    display: block;
}
#sort-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 130px;
    font-size: 12px;
    box-shadow: 0px 8px 16px 0px grey;
    padding: 12px 16px;
    z-index: 1;
}
.sort-by-dropdown:hover #sort-dropdown-content {
    display: block;
}
*/
